* {
    box-sizing: border-box;
}

a {
    color: #1EA5D8;
    text-decoration: none;
}

p {
    color: #848484;
    font-size: 1.3em;
}

/****************
 * App
 ****************/

.App {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    width: 95%;
}

/****************
 * Button
 ****************/

.btn {
    background: #FAFAFA;
    border: 1px solid #ccc;
    border-bottom: 3px solid #ccc;
    border-radius: 3px;
    color: #777777;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 600;
    padding: 15px 30px;
}

.btn--donate {
    color: #fff;
    background: #55BA3E;
    border: 1px solid #52AD3E;
    border-bottom: 3px solid #52AD3E;
    font-size: 1.5em;
    padding: 15px 30px;
}

.btn--donate:hover,
.btn--donate:focus {
    background: #4ca737;
    border-color: #4ca737;
}

/****************
 * Dialog Box
 ****************/
.dialog-box {
   background: #fafafa;
   border: 1px solid #ccc;
   border-radius: 3px;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.190);
   padding: 2%;
   text-align: center;
}

.dialog-box--hidden {
    display: none;
}
/********************
 * Donation 
 *********************/
 .donation {
    padding: 10px 30px;
 }
 
 .donation__text {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.7;
 }
 
/********************
 * Donation Container 
 *********************/
 .donation-container {
    border: 2px solid #ccc;
 }
 
/****************
 * Donation Form 
 ****************/
.donation-form__icon {
    color: #828282;
    font-weight: 600;
    margin-left: 17px;
    margin-right: 8px;
}

.donation-form__label {
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5em;
    height: 50px;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.donation-form__number-field {
    border: none;
    flex-grow: 1;
    font-size: 1em;
    width: 0;
}

.donation-form__number-field:focus {
    border: none;
}

/****************
 * Progress
 ****************/

.progress {
    background: #F15E33;
    height: 20px;
    transition: all .5s;
}

.progress-bar {
    background: #FAFAFA;
    border-bottom: 2px solid #ccc;
}

/****************
 * Speech Bubble
 ****************/

.speech-bubble {
    background: #424242;
    border-radius: 3px;
    padding: 25px 60px;
    width: 100%;
}

.speech-bubble__msg {
    color: #ffffff;
    margin: 0;
    padding: 0;
}

/***********************
 * Social Media Links
 **********************/
 .social-media-links {
     display: flex;
     list-style-type: none;
     justify-content: space-evenly;
     margin-bottom: 15%;
     padding: 0;
 }
 
.social-media-links__icon {
     width: 100%;
}

.social-media-links__item {
     flex-basis: 30%;
}
 
.social-media-links__link {
     display: block;
}
 
 
/****************
 * Utility Classes
 ****************/

.bold-text {
    font-weight: 600;
}

.center--children {
    align-items: center;
    display: flex;
    justify-content: center;
}


.flex--desktop-row {
    display: flex;
    flex-direction: column;
}

.flex-space-btw {
    justify-content: space-between;
}

.hidden {
    display: none;
}

.highlight--orange {
    color: #F15E33;
    font-weight: 600;
}

.italic {
    font-style: italic;
}

.overlay {
    background: rgba(0, 0, 0, .5);
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.ws-top-20 {
    margin-top: 20px;
}

@media (min-width: 480px) {
    .flex--desktop-row {
        flex-direction: row;
    }
}
/***********************
 * Desktop
 **********************/
@media (min-width: 480px) {
    
 .btn-container > .btn {
   flex-basis: 48%;
 }
 
 .donation-form {
    flex-direction: row;
    justify-content: space-between;
 }
 
 .flex-basis-48-desktop {
    flex-basis: 48%;
 }
 .donation-form__label {
    margin-bottom: 0;
    height: auto;
 }
}