* {
 box-sizing: border-box;
}
/****************
 * Button
 ****************/
 .btn {
    background: #FAFAFA;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #777777;    
    cursor: pointer;
    font-weight: 600;
    padding: 15px;
 }
 
 .btn--donate {
    color: #fff;
    background: #55BA3E;
    border: 1px solid #52AD3E;
    border-bottom: 3px solid #52AD3E;
    font-size: 1.5em;
    padding: 15px 30px;
 }
 
 .btn--donate:hover,
 .btn--donate:focus {
  background: #4ca737;
  border-color: #4ca737;
 }
 
 /****************
 * Donation Form 
 ****************/
 .donation-form__icon {
  color: #828282; 
  font-weight: 600;
  margin-right: 7.5px;
 }
 
 .donation-form__label {
  border: 1px solid #ccc;
  border-radius: 3px;
  display: inline-block;
  font-size: 1.5em;
  padding: 15px 15px;
 }
 

 .donation-form__number-field {
  border: none;
  font-size: 1em;
 }
 
 .donation-form__number-field:focus {
  border: none;
 }

 /****************
 * Progress
 ****************/
 .progress {
  background: #F15E33;
  height: 20px;
 }
